.container {
  width: 65%;
  margin: 0 auto;
}

h1, p, a, img {
  display: flex;
  justify-content: center;
}

.bullets {
  display: block;
  border-top: 2px solid black;
  padding-top: 15px;
}

img {
  width: 200px;
  margin: 0 auto;
}