body {
  background: linear-gradient(45deg, rgb(175,238,238), rgb(255,250,205));
}

.container {
  width: 65%;
  margin: 0 auto;
}

h1, p, img {
  display: flex;
  justify-content: center;
}

.bullets {
  display: block;
  border-top: 2px solid black;
  padding-top: 15px;
}

img {
  width: 150px;
  margin: 0 auto;
  border-radius: 10px;
}

.links {
  display: flex;
  justify-content: space-evenly;
}