@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 3.5em;
    font-weight: 300;
}

h1 {
    font: 80px;
    font-size: 5em;
    font-weight: 700;
    margin: 50px 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 3em;
    text-align: center;
    line-height: 1em;
}

.nav-bar {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.cream-background {
  background-color: rgba(232,217,217,.3);
  color: black;;
  padding-top: 50px;
  padding-right: 19.95%;
  padding-bottom: 50px;
  padding-left: 19.95%;
    
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
  }

.blue-background {
    background-color: rgba(197,232,251,1);
    color: black;
    padding-top: 100px;
    padding-right: 19.95%;
    padding-bottom: 100px;
    padding-left: 19.95%;  
    text-align: center;
  }

.text {
    font-size: 1em;
    font-weight: 100;
    text-align: center;
    margin: 20px 0;
  }

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

.blackHeart {
    width: 25px;
    margin-right: 1rem;
  }

  #team {
    display: flex;
    justify-content: space-evenly;
  }

  #team img {
    width: 200px;
    height: 120px;
    position: center;
  }

  #team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #team p {
    width: 80%;
    margin: 20px auto;
  }