body {
  color: rgb(72,72,72);
}

.container {
  border: 5px solid black;
  background-color: rgb(240,240,240);
  width: 60%;
  margin: 0 auto;
}

h1 {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.photos {
  display: flex;
  justify-content: center;
}

img {
  height: 350px;
  margin: 15px;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  color: dodgerblue;
  text-decoration: none;
  margin: 20px;
}


.description {
  display: flex;
  justify-content: center;
  border-top: 2px solid rgb(72,72,72);
  border-bottom: 2px solid rgb(72,72,72);
  width: 65%;
  margin: 0 auto;
}

.bullets {
  width: 65%;
  margin: 0 auto 50px;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -10px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -10px;
}
